.detailsTitle {
    color: silver;
    font-size: 40px;
    text-align: center;
    margin: 10%;    
}


.link {
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 50px;
}